/* Import de fontes */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');

/* Estilização desktop 1080p */

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    height: 5vh;
}

.imglogo {
    float: left;
    width: 3.5vw;
    margin: .5vw;
    transition: 0.3s ease-in-out;
}

.imglogo:hover {
    scale: 1.05;
    box-shadow: #1b1b1b -.5vw -.5vh 50px;
}

.anchlogo {
    text-decoration: none;
}

.nomecs {
    font-family: 'League Spartan', sans-serif;
    position: absolute;
    margin: .5vw;
    font-size: 2vw;
    color: transparent;
    transition: 1s ease-in-out;
}

.nomecs:hover {
    color: #1A3540;
    padding-left: 4vw;
}

.eng {
    width: 15vw;
    display: block;
    margin-left: 42%;
    margin-right: auto;
}

.msg {
    text-align: center;
    margin-top: 20vh;
    font-size: 6vw;
    left: -5vw;
    font-family: 'League Spartan', sans-serif;
}

.msg2 {
    text-align: center;
    margin-top: -5vh;
    font-size: 2vw;
    left: -5vw;
    font-family: 'League Spartan', sans-serif;
}

.voltar {
    width: 20vw;
    height: 7vh;
    background-color: #1A3540;
    border-radius: 8vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    cursor: pointer;
    text-align: center;
    transition: .5s ease-in-out;
}

.voltar:hover {
    box-shadow: -1vw 1.5vh 40px #1b1b1b8a;
}

.voltartxt {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.8vw;
    color: white;
    line-height: 8vh;
}